<nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand cl" href="{% url 'home' %}"><i class="fa-solid fa-satellite "></i>LIGHTSPEED</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'works' %}">How it works</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'price' %}">Price</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'logout' %}" class="btnsing btn">Sing Out</a>
                </li>
                {% else %}
                <li>
                  <a href="{% url 'singup' %}" class="btnsing btn">Sing Up</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
</nav>
