{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid" id="cont10">
        {% include 'navbar.html' %}

      <!-- Nis permbajtja -->
      <div class="container-fluid">
        <div class="imgcontact">
            <img src="{% static 'image/foto5.jpd.jpg' %}">
        </div>
        <div class="loctitle">
            <h2>GLOBAL COVERAGE</h2>
            <p>LightSpeed provides internet solution with excellent speed around the whole globe. Power your home or enterprise with connectivity in more than 190 countries.</p>
        </div>
        <div class="location">
            <i class="fa-solid fa-location-dot a1"></i>
            <i class="fa-solid fa-location-dot a2"></i>
            <i class="fa-solid fa-location-dot a3"></i>
            <i class="fa-solid fa-location-dot a4"></i>
            <i class="fa-solid fa-location-dot a5"></i>
            <i class="fa-solid fa-location-dot a6"></i>
            <i class="fa-solid fa-location-dot a7"></i>
            <i class="fa-solid fa-location-dot a8"></i>
            <i class="fa-solid fa-location-dot a9"></i>
            <i class="fa-solid fa-location-dot a10"></i>
            <i class="fa-solid fa-location-dot a11"></i>
            <i class="fa-solid fa-location-dot a12"></i>
            <i class="fa-solid fa-location-dot a13"></i>
            <i class="fa-solid fa-location-dot a14"></i>
            <i class="fa-solid fa-location-dot a15"></i>
            <i class="fa-solid fa-location-dot a16"></i>
            <i class="fa-solid fa-location-dot a17"></i>
            <i class="fa-solid fa-location-dot a18"></i>
            <i class="fa-solid fa-location-dot a19"></i>
            <i class="fa-solid fa-location-dot a20"></i>
        </div>

        <div class="container-fluid resposivity">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="imgcontact-off">
                <img src="{% static 'image/foto5.jpd.jpg' %}">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="loctitle-off">
                <h2>GLOBAL COVERAGE</h2>
                <p>LightSpeed provides internet solution with excellent speed around the whole globe. Power your home or enterprise with connectivity in more than 190 countries.</p>
              </div>
              <div class="location-offline">
                <div class="location-off">
                  <i class="fa-solid fa-location-dot a1"><span class="space">Eureka</span></i><br>
                  <i class="fa-solid fa-location-dot a2"><span class="space">Avannaata</span></i><br>
                  <i class="fa-solid fa-location-dot a3"><span class="space">Greenland</span></i><br>
                  <i class="fa-solid fa-location-dot a4"><span class="space">Sermersooq Municipality</span></i><br>
                  <i class="fa-solid fa-location-dot a5"><span class="space">Alaska</span></i><br>
                  <i class="fa-solid fa-location-dot a6"><span class="space">Yukon</span></i><br>
                  <i class="fa-solid fa-location-dot a7"><span class="space">Inuvik Region</span></i><br>
                  <i class="fa-solid fa-location-dot a8"><span class="space">Kivalliq Region</span></i><br>
                  <i class="fa-solid fa-location-dot a9"><span class="space">California</span></i><br>
                  <i class="fa-solid fa-location-dot a10"><span class="space">Colombia</span></i>
                </div>
                <div class="location-off">
                  <i class="fa-solid fa-location-dot a11"><span class="space">Buenos Aires</span></i><br>
                  <i class="fa-solid fa-location-dot a12"><span class="space">Sierra Leone</span></i><br>
                  <i class="fa-solid fa-location-dot a13"><span class="space">Egypt</span></i><br>
                  <i class="fa-solid fa-location-dot a14"><span class="space">Zambia</span></i><br>
                  <i class="fa-solid fa-location-dot a15"><span class="space">Albania</span></i><br>
                  <i class="fa-solid fa-location-dot a16"><span class="space">Sweden</span></i><br>
                  <i class="fa-solid fa-location-dot a17"><span class="space">Moscow</span></i><br>
                  <i class="fa-solid fa-location-dot a18"><span class="space">Sakha Republic</span></i><br>
                  <i class="fa-solid fa-location-dot a19"><span class="space">China</span></i><br>
                  <i class="fa-solid fa-location-dot a20"><span class="space">Australia</span></i>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="container-fluid">
            <div class="cont-testimonial">
                <h2>USED BY THOUSANDS OF HAPPY COSTUMERS</h2>
                <p>There are the stories of our costumers who have joined us with great pleasure when using our innovative solutions.</p>

                <div id="carouselExampleIndicators" class="carousel slide">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="card-body1">
                        <div class="row test-row">
                            <div class="col">
                                <div class="card-testimonials">
                                    <div class="card1">
                                        <div class="testimg">
                                            <img src="{% static 'image/profile1.jpg' %}">
                                        </div>
                                        <div class="text-test">
                                            <h6>Victor S.</h6>
                                            <p>Tahiti, France Polynesia</p>
                                        </div>
                                        <div class="rate">
                                            <p>4.5</p><i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="card-textt">
                                        <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col">
                                <div class="card-testimonials">
                                    <div class="card1">
                                        <div class="testimg">
                                            <img src="{% static 'image/profile2.jpg' %}">
                                        </div>
                                        <div class="text-test">
                                            <h6>Tatiana L.</h6>
                                            <p>Tahiti, France Polynesia</p>
                                        </div>
                                        <div class="rate">
                                            <p>4.5</p><i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="card-textt">
                                        <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col">
                                <div class="card-testimonials">
                                    <div class="card1">
                                        <div class="testimg">
                                            <img src="{% static 'image/profile.3jpg.jpg' %}">
                                        </div>
                                        <div class="text-test">
                                            <h6>Brayan M.</h6>
                                            <p>Tahiti, France Polynesia</p>
                                        </div>
                                        <div class="rate">
                                            <p>4.5</p><i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="card-textt">
                                        <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item">
                   <div class="card-body2">
                    <div class="row">
                        <div class="col">
                            <div class="card-testimonials">
                                <div class="card1">
                                    <div class="testimg">
                                        <img src="{% static 'image/profile1.jpg' %}">
                                    </div>
                                    <div class="text-test">
                                        <h6>Victor S.</h6>
                                        <p>Tahiti, France Polynesia</p>
                                    </div>
                                    <div class="rate">
                                        <p>4.5</p><i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="card-textt">
                                    <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card-testimonials">
                                <div class="card1">
                                    <div class="testimg">
                                        <img src="{% static 'image/profile2.jpg' %}">
                                    </div>
                                    <div class="text-test">
                                        <h6>Tatiana L.</h6>
                                        <p>Tahiti, France Polynesia</p>
                                    </div>
                                    <div class="rate">
                                        <p>4.5</p><i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="card-textt">
                                    <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card-testimonials">
                                <div class="card1">
                                    <div class="testimg">
                                        <img src="{% static 'image/profile.3jpg.jpg' %}">
                                    </div>
                                    <div class="text-test">
                                        <h6>Brayan M.</h6>
                                        <p>Tahiti, France Polynesia</p>
                                    </div>
                                    <div class="rate">
                                        <p>4.5</p><i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="card-textt">
                                    <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                    </div>
                    <div class="carousel-item">
                    <div class="card-body3">
                    <div class="row">
                        <div class="col">
                            <div class="card-testimonials">
                                <div class="card1">
                                    <div class="testimg">
                                        <img src="{% static 'image/profile1.jpg' %}">
                                    </div>
                                    <div class="text-test">
                                        <h6>Victor S.</h6>
                                        <p>Tahiti, France Polynesia</p>
                                    </div>
                                    <div class="rate">
                                        <p>4.5</p><i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="card-textt">
                                    <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card-testimonials">
                                <div class="card1">
                                    <div class="testimg">
                                        <img src="{% static 'image/profile2.jpg' %}">
                                    </div>
                                    <div class="text-test">
                                        <h6>Tatiana L.</h6>
                                        <p>Tahiti, France Polynesia</p>
                                    </div>
                                    <div class="rate">
                                        <p>4.5</p><i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="card-textt">
                                    <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card-testimonials">
                                <div class="card1">
                                    <div class="testimg">
                                        <img src="{% static 'image/profile.3jpg.jpg' %}">
                                    </div>
                                    <div class="text-test">
                                        <h6>Brayan M.</h6>
                                        <p>Tahiti, France Polynesia</p>
                                    </div>
                                    <div class="rate">
                                        <p>4.5</p><i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="card-textt">
                                    <p>"Wow... I am very happy to use this internet provider, it turned out to be more than my expectations and so far there have been no problems."</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            </div>
        </div>

        <div class="container msg">
          <div class="row">
              <h4 class="cont-tittle mt-2">Write a messages </h4>
              {% if messages %}
                  {% for message in messages %}
                  <div {% if message.tags %} class="alert1 alert alert-{{ message.tags }}" {% endif %} role="alert">
                      {{ message }}
                      {% endfor %}
                    </div>
                {% endif %}
              <div class="col-12">
                <form method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-floating mb-3 mt-3">
                        <input type="text" name="msgemri" class="form-control" id="floatingInput" placeholder="Name">
                        <label for="floatingInput">Name</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-floating mb-3 mt-3">
                        <input type="text" name="msgmbiemri" class="form-control" id="floatingInput" placeholder="LastName">
                        <label for="floatingInput">LastName</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-floating">
                        <textarea class="form-control" name="msg" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Messages</label>
                      </div>
                    </div>
                  </div>
                  <div class="row row-btn">
                    <div class="col">
                      <div class="msg-button">
                        <button class="btn btn-primary contbtn mt-4">Send</button>
                      </div>
                    </div>
                  </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

</div>

<div class="container-fluid px-0">
  <div class="ready-to-join">
      <div class="img-join">
        <img src="{% static 'image/joinus.1jpg.jpg' %}">
      </div>
      <div class="ready">
        <h1>READY TO JOIN US?</h1>
          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="btnready btn">Sing Out</a>
            {% else %}
              <a href="{% url 'singup' %}" class="btnready btn">JOIN US</a>
          {% endif %}
<!--        <a href="{% url 'singup' %}" class="btnready btn">JOIN US</a>-->
      </div>
  </div>
</div>
    <!-- Mbaron permbajtja -->
{% endblock %}